.card-container1 {
    height: 250px;
    width: 24rem;
    border-radius: 0.5rem;
    border-color: black;
    background-color: rgb(188, 41, 65);
    flex-direction: row;

}

.students-data {
flex-direction: column;

}

.college-data {
    flex-direction: column;
}

.card-container2 {
    height: 250px;
    width: 24rem;
    border-radius: 0.5rem;
    border-color: black;
    background-color: pink;
    flex-direction: row;
    margin-left: 400px;
    margin-top:-165px

}

.s1{
    justify-content: center;
    align-items: center;
    display: flex;
}

.p1{ justify-content: center;
    align-items: center;
    display: flex;

}