/* SignUp.css */
.signup-container {
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    justify-content: center;
    align-items:center;
    padding: 40px;
    opacity: 0.9;
    width: 30%;

  }

  .bg {
    background-image: url('../Images/background.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content:center;
  
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

 
  .radio-container {
     display: flex;
     flex-direction: row;
     justify-content: start;
  }

  button {
    padding: 10px;
    background-color: #00008B;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content:center;
  }
  
  button:hover {
    background-color: #00008B;
  }
  .container { 
    display: flex;
    align-items: center;
    flex-direction: row;
    
  } 

  .left-component{
    width: 4%;
    margin-top: 4%;
  }
   
  .right-component { 
   width: 100%;
   margin-left: 10px;
  
  } 
  
  .radio1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .left-radio1{
    margin-top: 16%;
  }

  .right-radio1{
    width: 50%;
    margin-top: 20%;


  }

  .radio2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
  .left-radio2{
    margin-top: 16%;
    margin-left: 80%;
  }

  .right-radio2{
    width: 50%;
    margin-left: 10%;
    margin-top: 20%;


  }
  
 

  .custom-field.two input {
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background:
      linear-gradient(90deg, #222, #222) center bottom/0 0.15em no-repeat,
      linear-gradient(90deg, #ccc, #ccc) left bottom/100% 0.15em no-repeat,
      linear-gradient(90deg, #fafafa, #fafafa) left bottom/100% no-repeat;
    transition: background-size 0.3s ease;
  }
  
  .custom-field.two input.dirty,
  .custom-field.two input:not(:placeholder-shown),
  .custom-field.two input:focus {
    background-size: 100% 0.15em, 100% 0.1em, 100%;
  }

  .custom-field {
    position: relative;
    font-size: 14px;
    border-top: 20px solid transparent;
    margin-bottom: 5px;
    display: inline-block;
    --field-padding: 12px;
  }
  
  .custom-field input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: var(--field-padding);
    border-radius: 3px;
    width: 250px;
    outline: none;
    font-size: 14px;
  }
  
  .custom-field .placeholder {
    position: absolute;
    left: var(--field-padding);
    width: calc(100% - (var(--field-padding) * 2));
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 22px;
    line-height: 100%;
    transform: translateY(-50%);
    color: #aaa;
    transition: 
      top 0.3s ease,
      color 0.3s ease,
      font-size 0.3s ease;
  }
  
  .custom-field input.dirty + .placeholder,
  .custom-field input:focus + .placeholder,
  .custom-field input:not(:placeholder-shown) + .placeholder {
    top: -10px;
    font-size: 10px;
    color: #222;
  }

  .form-container {
    display: flex;
    justify-content: center;
  }